@use "theme/_variables.scss" as *;

.products {
  position: relative;
  align-items: flex-start;
  padding: var(--padding-page) var(--padding-grid);

  .container {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (min-width: 1000px) {
    padding: var(--padding-page) var(--padding-content);
  }

  .breadcrumbsWrapper {
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: var(--color-breadcrumbs-wrapper);
    padding: 0.5rem var(--padding-content);

    @media screen and (min-width: 1000px) {
      padding: 0.5rem calc(var(--padding-page) * 1.5);
    }
  }

  article {
    text-align: left;
    border-bottom: solid #ddd 2px;
    min-width: 100%;

    @media screen and (min-width: 1000px) {
      min-width: 300px;
    }

    h1 {
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-bottom: var(--padding-grid);
    }
  }

  .productsContainer {
    padding-top: var(--padding-content);
    margin: 0 -0.5rem;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.noProductsContainer {
  padding-top: var(--padding-page);
  margin: 0 auto;
}
