@use "theme/_variables.scss" as *;

.product {
  position: relative;
  align-items: flex-start;
  padding: calc(#{var(--padding-page)} * 1.5) var(--padding-page);
  @include flex();
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: var(--padding-page);

  .productContainer,
  .productGallery {
    flex: 0 1 50%;
    @include flex();
    align-items: stretch;
    padding: var(--padding-content);

    @media screen and (max-width: 1000px) {
      padding: var(--padding-grid);
    }
  }

  .productContainer {
    border-left: solid 2.5px #eee;
    max-width: 600px;
    padding: var(--padding-content) var(--padding-page);

    @media screen and (max-width: 1000px) {
      border-left: none;
      max-width: initial;

      padding: var(--padding-grid) 0;
    }
  }

  .breadcrumbsWrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: var(--color-breadcrumbs-wrapper);
    padding: 0.5rem var(--padding-content);

    @media screen and (min-width: 1000px) {
      padding: 0.5rem calc(var(--padding-page) * 1.5);
    }
  }

  .productInfo {
    text-align: left;
    padding: 0 var(--padding-content);

    .categoriesLinks {
      // margin: 0.5rem 0 0rem;

      a {
        font-size: 0.9rem;
        color: var(--color-primary);
      }
    }

    p {
      max-width: 45ch;
      @media screen and (max-width: 1000px) {
        max-width: initial;
      }
    }

    .productInfoDescription {
      margin: var(--padding-grid) 0;
      p {
        color: var(--color-text-muted);
      }
    }

    @media screen and (max-width: 1000px) {
      padding: 0 var(--padding-grid);
    }

    .price {
      margin-top: var(--padding-content);
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  .productAttributes,
  .addToCart,
  .productStatus {
    text-align: left;
    white-space: nowrap;
    border-top: solid 2.5px #eee;
    padding: calc(var(--padding-grid) * 1.5) var(--padding-content);
    @include flex;
    align-items: flex-start;
    gap: calc(var(--padding-grid) / 2);

    @media screen and (max-width: 1000px) {
      padding: calc(var(--padding-grid) * 1.5) var(--padding-grid);
    }
  }

  .addToCart {
    @media screen and (max-width: 1000px) {
      align-items: center;

      button {
        width: 100%;
      }
    }
  }

  .productInfo {
    margin-bottom: var(--padding-grid);
  }

  .addToCartBtn {
    svg {
      width: 24px;
      margin-left: var(--padding-grid);
    }
  }

  .addingToCart {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .productStatus {
    .status {
      color: var(--positive-color);
    }
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    padding: var(--padding-page) var(--padding-grid);
  }

  .fullDescription,
  .fullDescriptionMobile {
    width: 100%;
    overflow: hidden;

    .descriptionContainerHead {
      padding: var(--padding-grid) 0;
      position: relative;
      @include flex;
      flex-direction: row;
      justify-content: space-between;
      background: var(--bg-color);
      z-index: 2;
    }

    .descriptionContainer {
      position: relative;
      height: 0;
      transform: translateY(-100%);
      overflow: hidden;
      @include flex;
      align-items: flex-start;
      justify-content: flex-start;
      @include transition;
      z-index: 1;

      p {
        color: var(--color-text-muted);
        text-align: left;
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        margin: 0.8rem 0rem 0.2rem 0rem;
      }

      * {
        text-align: left;
      }
    }

    .descriptionContainerOpen {
      transform: translateY(0%);
      height: fit-content;
    }
  }

  .fullDescription {
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  .fullDescriptionMobile {
    border-top: solid 2.5px #eee;
    padding: 0 var(--padding-grid);

    @media screen and (min-width: 1000px) {
      display: none;
    }
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.productContainerLoading {
  margin-left: auto;
}

.arrowDown {
  fill: #222;
  height: 18px;
  width: 18px;
  @include transition;
}

.arrowUp {
  transform: rotate(180deg);
}
