@use "theme/_variables.scss" as *;

.block {
  position: relative;
  margin-bottom: 1rem;
  overflow-x: hidden;
  @include transition;

  .imgLink {
    background: #fff;
    max-width: 220px;
    padding: var(--padding-content) 0;

    @media screen and (min-width: 700px) {
      max-width: 300px;
    }

    img {
      width: 80%;
    }
  }

  .info {
    padding-top: var(--padding-grid);
    @include flex;
    align-items: flex-start;

    .name {
      font-weight: 700;
    }

    .price {
      color: var(--color-text-muted);
      font-size: 1.2rem;
    }
    .cta {
      background: var(--color-primary);
      border: none;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.5rem 0.6rem;
      // padding-right: 1rem;
      border-radius: 2rem;
      // border-bottom-left-radius: 0.5rem;
      // border-top-left-radius: 0.5rem;
      @include transition;
      @include flex;
      cursor: pointer;
      color: #fff;
      font-weight: bold;

      svg {
        width: 18px;
      }

      // &:hover {
      //   right: 0rem;
      // }
    }
  }

  &:hover {
    transform: translateY(-0.5rem);
    // .cta {
    //   right: -0.5rem;
    // }
  }
}
