@use "theme/_variables.scss" as *;

.home {
  padding: 0;
  .homeHero {
    background-color: var(--navbar-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    padding: var(--padding-page) var(--padding-content);
    height: 360px;
    @include flex;
    align-items: flex-start;

    @media screen and (min-width: 1000px) {
      padding: 6rem;
    }

    @media screen and (max-width: 1000px) {
      justify-content: center;
    }

    blockquote {
      color: #f8f8f8;
      max-width: 15ch;
    }
  }

  .popProducts {
    margin: var(--padding-page) 0;
  }

  .productsContainer {
    padding-top: var(--padding-page);
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem 1rem;

    @media screen and (max-width: 1400px) {
      max-width: 1000px;
      gap: 1rem;
    }

    @media screen and (max-width: 1200px) {
      max-width: 800px;
      gap: 1rem 0.5rem;
    }
  }
}
