@use "theme/_variables.scss" as *;

.galleryContainer {
  @include flex;
  align-items: flex-start;
  flex-direction: row;
  gap: var(--padding-grid);
  flex: 1 0 50%;

  .mainImage {
    width: 90%;
    max-width: 600px;
    border-radius: 6px;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  .imgsList {
    @include flex;
    gap: var(--padding-grid);

    li {
      width: 70px;
      height: 70px;
      cursor: pointer;
      border-radius: 4px;
      overflow: hidden;
      @include transition;

      &:hover {
        outline: 1px solid #666;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    @media screen and (max-width: 1200px) {
      flex-direction: row;
    }
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }
}
