@use "theme/_variables.scss" as *;

.footerWrapper {
  position: relative;
  padding: var(--padding-page) 8rem;
  background: var(--footer-color);
  @include flex;
  align-items: flex-start;

  @media screen and (max-width: 920px) {
    flex-direction: column-reverse;
    padding: var(--padding-content);
    align-items: flex-start;
  }

  @media screen and (min-width: 920px) {
    height: 520px;
  }

  .footerTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    section {
      height: 100%;
      @include flex;
      align-items: flex-start;
      text-align: left;
      margin-right: 12%;
      z-index: 2;

      @media screen and (max-width: 920px) {
        margin-top: var(--padding-content);
      }

      h3 {
        margin-bottom: var(--padding-content);
      }

      ul {
        max-height: 60%;
        @include flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: var(--padding-grid);
      }
    }

    .helpLinks {
      li {
        a {
          @include flex;
          flex-direction: row;
          gap: var(--padding-grid);

          p {
            color: #bbb;
          }

          svg {
            width: 40px;
            fill: #fff;
          }
        }
      }
    }

    .categoriesLinks {
      li {
        margin-right: var(--padding-content);
      }
    }

    .footerLinks {
      display: flex;
      flex-wrap: wrap;
      max-width: 300px;
      padding: 0 !important;
      span {
        display: inline;
        background-color: #222;
        border: 1px solid #eee;
        padding: 1rem;
        border-radius: 4rem;
        margin: 0rem 0.5rem 1rem;
        @include transition;

        &:hover {
          background-color: #fff2;
        }
      }
    }
  }

  .footerBottom {
    position: relative;
    margin-top: auto;
    width: 100%;
    @include flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .paymentMethods {
      margin-top: var(--padding-grid);
      @include flex;
      flex-direction: row;
      gap: var(--padding-grid);

      @media screen and (max-width: 920px) {
        margin-top: var(--padding-content);
      }
    }

    .logo {
      z-index: 2;

      @media screen and (max-width: 920px) {
        margin-top: var(--padding-content);
        width: 100%;
      }

      @media screen and (min-width: 920px) {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .footerBg {
    position: absolute;
    bottom: 0;
    top: 0;
    right: -100px;
    height: 100%;
    z-index: 1;

    @media screen and (max-width: 920px) {
      display: none;
    }
  }
}
